# My solution

In [18]:
import pandas as pd

df = pd.read_csv("./iris.csv")

for cls in df['class'].unique():
    print(f'Class: {cls}')
    display(df[df['class']==cls].describe())

Class: Iris-setosa

       septal_length  septal_width  petal_length  petal_width
count       50.00000     50.000000     50.000000     50.00000
mean         5.00600      3.418000      1.464000      0.24400
std          0.35249      0.381024      0.173511      0.10721
min          4.30000      2.300000      1.000000      0.10000
25%          4.80000      3.125000      1.400000      0.20000
50%          5.00000      3.400000      1.500000      0.20000
75%          5.20000      3.675000      1.575000      0.30000
max          5.80000      4.400000      1.900000      0.60000

Class: Iris-versicolor

       septal_length  septal_width  petal_length  petal_width
count      50.000000     50.000000     50.000000    50.000000
mean        5.936000      2.770000      4.260000     1.326000
std         0.516171      0.313798      0.469911     0.197753
min         4.900000      2.000000      3.000000     1.000000
25%         5.600000      2.525000      4.000000     1.200000
50%         5.900000      2.800000      4.350000     1.300000
75%         6.300000      3.000000      4.600000     1.500000
max         7.000000      3.400000      5.100000     1.800000

Class: Iris-virginica

       septal_length  septal_width  petal_length  petal_width
count       50.00000     50.000000     50.000000     50.00000
mean         6.58800      2.974000      5.552000      2.02600
std          0.63588      0.322497      0.551895      0.27465
min          4.90000      2.200000      4.500000      1.40000
25%          6.22500      2.800000      5.100000      1.80000
50%          6.50000      3.000000      5.550000      2.00000
75%          6.90000      3.175000      5.875000      2.30000
max          7.90000      3.800000      6.900000      2.50000

# Solution from the fucking guy

In [19]:
import pandas as pd

df = pd.read_csv("./iris.csv")


def slice_iris(df, feature):
    """ Function for calculating descriptive stats on slices of the Iris dataset."""
    for cls in df["class"].unique():
        df_temp = df[df["class"] == cls]
        mean = df_temp[feature].mean()
        stddev = df_temp[feature].std()
        print(f"Class: {cls}")
        print(f"{feature} mean: {mean:.4f}")
        print(f"{feature} stddev: {stddev:.4f}")
    print()


slice_iris(df, "septal_length")
slice_iris(df, "septal_width")
slice_iris(df, "petal_length")
slice_iris(df, "petal_width")

Class: Iris-setosa
septal_length mean: 5.0060
septal_length stddev: 0.3525
Class: Iris-versicolor
septal_length mean: 5.9360
septal_length stddev: 0.5162
Class: Iris-virginica
septal_length mean: 6.5880
septal_length stddev: 0.6359

Class: Iris-setosa
septal_width mean: 3.4180
septal_width stddev: 0.3810
Class: Iris-versicolor
septal_width mean: 2.7700
septal_width stddev: 0.3138
Class: Iris-virginica
septal_width mean: 2.9740
septal_width stddev: 0.3225

Class: Iris-setosa
petal_length mean: 1.4640
petal_length stddev: 0.1735
Class: Iris-versicolor
petal_length mean: 4.2600
petal_length stddev: 0.4699
Class: Iris-virginica
petal_length mean: 5.5520
petal_length stddev: 0.5519

Class: Iris-setosa
petal_width mean: 0.2440
petal_width stddev: 0.1072
Class: Iris-versicolor
petal_width mean: 1.3260
petal_width stddev: 0.1978
Class: Iris-virginica
petal_width mean: 2.0260
petal_width stddev: 0.2747